/**
 * SOLARIZED palette
 * Author: Ethan Schoonover
 * http://ethanschoonover.com/solarized
 */
body {
  background-color: #586e75;
  width: 1280px;
}
.collection {
  font-size: 16px;
  width: 600px;
  height: 800px;
  background-color: #eee8d5;
}
#col0 {
  float: left;
}
#col1 {
  float: right;
}
kbd {
  color: #2aa198;
}
var {
  font-style: normal;
  color: #b58900;
}
var.array {
  color: #268bd2;
}
var.number {
  color: #cb4b16;
}
